{% extends "base.html" %}
{% block content %}


  <div class="container py-3">
    <div class="row" style="background-color: white">
      <div class="col-lg-4" style="background-color: white">
        <div class="card mb-4" style="background-color: white">
          <div class="card-body text-center"
               style="background-color: white">
            <img
                src="https://static.wikia.nocookie.net/villains/images/d/d3/Anyfin_Can_Happen.jpg/revision/latest/scale-to-width-down/1000?cb=20171225045710"
                alt="avatar" class="rounded-circle img-fluid"
                style="width: 150px;">
            <h5 class="my-3">{{ guild.guild_name }}</h5>


            <div class="d-flex justify-content-center mb-2">
              <a href="{{ guild.wcl_link }}" target="_blank">
                <img
                    src="{{ '/static/favicons/discord/discord-mark-blue.svg' }}"
                    alt="discord" style="width: 20%; height: auto;">
              </a>
            </div>
            <div class="d-flex justify-content-center mb-2">
              <a href="{{ guild.wcl_link }}" target="_blank">
                <img
                    src="{{ '/static/favicons/discord/discord-mark-white.svg' }}"
                    alt="discord" style="width: 20%; height: auto;">
              </a>
            </div>


            <div class="d-flex justify-content-center mb-2">
              <a href="{{ guild.wcl_link }}" target="_blank">
                <img src="{{ '/static/favicons/wcl/WCL_Icon_57fc009f4e.png' }}"
                     alt="wcl_favicon" style="width: 20%; height: auto;">
              </a>
            </div>
            <div class="d-flex justify-content-center mb-2">
              <a href="{{ guild.wcl_link }}" target="_blank">
                <img
                    src="{{ '/static/favicons/wcl/WCL_White_Icon_01_9b25d38cba.png' }}"
                    alt="wcl_favicon" style="width: 20%; height: auto;">
              </a>
            </div>

            <div class="d-flex justify-content-center mb-2">
              <a href="{{ guild.wcl_link }}" target="_blank">
                <img
                    src="{{ '/static/favicons/other/apply.png' }}"
                    alt="apply_favicon" style="width: 20%; height: auto;">
              </a>
            </div>

          </div>
          <!-- TODO: buttons here -->
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body"
               style="background-color: white; padding-bottom: 10px;">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Recruiter</p>
              </div>
              <div class="col-sm-3">
                <p>{{ guild.recruiter }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Faction</p>
              </div>
              <div class="col-sm-3">
                <p>{{ guild.faction }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Progress</p>
              </div>
              <div class="col-sm-9">
                <p>{{ guild.highest_progress }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Teams</p>
              </div>
              <div class="col-sm-9">
                {% for team in guild.teams.all %}
                  {{ team.team_name }}:
                  {% for activity_session in team.sessions.all %}
                    {{ activity_session }}
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Looking for: </p>
              </div>
              <div class="col-sm-3">
                {% for required_spec in required_specs %}
                  <p>{{ required_spec }}</p>
                {% empty %}
                  <p> ;(</p>
                {% endfor %}
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2" style="background-color: white">
      <div class="col-lg-12" style="background-color: white">
        <div class="card" style="background-color: white">
          <div class="card-body">
            <h5 class="card-title">About</h5>
            <p class="card-text">{{ guild.guild_note }}</p>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Animi asperiores assumenda aut consequuntur
              corporis cumque debitis deleniti molestiae molestias, nisi
              nostrum optio possimus quod repudiandae voluptatibus. Aut esse
              facere facilis quae rem. Accusamus aliquam atque consectetur
              corporis cupiditate debitis dicta dolore doloribus earum esse et
              eum eveniet, expedita fugiat harum iure laudantium libero magnam,
              minima mollitia nam necessitatibus nesciunt nihil nisi nobis
              provid</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
