{% extends "base.html" %}
{% load static %}
{% block content %}
  <h1>
    Guilds
    <div class="reset-button">
      <a href="{% url 'LFTplatform:guild-list' %}">
        
        <input class="btn btn-primary" type="reset" value="Reset">
      
      </a>
    </div>
    {#    <a href="{% url 'LFTplatform:guild-create' %}"#}
    {#       class="btn btn-primary link-to-page">#}
    {#      Create#}
    {#    </a>#}
  </h1>
  {% include "includes/guild_filter_form.html" %}
  {% if guild_list %}
    

    <table class="table">
      <thead>
      <tr>
        <th scope="col">Guild</th>
        <th scope="col">Faction</th>
        <th scope="col">Progress</th>
        <th scope="col">Looking for</th>
        <th scope="col">Teams</th>
      </tr>
      </thead>
      <tbody>
      {% for guild in guild_list %}
        <tr>
          <td>
            <a href="{% url "LFTplatform:guild-detail" pk=guild.id %}">
              {{ guild.guild_name }}
            </a>
          </td>
          <td>{{ guild.faction }}</td>
          <td>{{ guild.highest_progress }}</td>
          <td>
            {% for key, value in required_specs.items %}
              {% if key == guild.pk %}
                {% if value %}
                  <ul>
                    {% for class_name, spec_name in value %}
                      <li>
                        <img style="width: 30px; height: 30px"
                             
                             src="/static/favicons/character_icons/spec_icons/{{ class_name }}/{{ class_name }}.jpg"
                             alt="{{ ig_class.data }} Class icon">
                        <img style="width: 30px; height: 30px"
                             src="/static/favicons/character_icons/spec_icons/{{ class_name }}/{{ spec_name }}.jpg"
                             alt="{{ ig_class.data }} Class icon">
                        {{ class_name }} - {{ spec_name }}</li>
                    {% endfor %}
                  </ul>
                {% else %}
                  <p>No specific classes/specs needed</p>
                {% endif %}
              {% endif %}
            {% empty %}
              <p>No specific classes/specs needed</p>
            {% endfor %}
          </td>
          <td>
            <ul>
              {% for team in guild.teams.all %}
                <li>
                  <a href="{% url "LFTplatform:team-detail" pk=team.id %}">
                    {{ team.team_name }}
                  </a>
                  
                  {% if team.activity_sessions.all %}
                    [
                    {% for activity_session in team.activity_sessions.all %}
                      {{ activity_session.day }}{% if not forloop.last %},
                      {% endif %}
                    {% endfor %}
                    ]
                  {% endif %}
                </li>
                <ul></ul>
              {% empty %}
                No teams available
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No guilds found ;( </p>
  {% endif %}
{% endblock %}
