{#{% extends "base.html" %}#}
{#{% block content %}#}
{#  <div class="container py-5">#}
{#    <div class="row">#}
{#      <div class="col-lg-4">#}
{#        <div class="card mb-4">#}
{#          <div class="card-body text-center">#}
{#            <img src="https://pyrewood-village.eu/images/alliance_icon.png"#}
{#                 alt="Guild Icon" class="rounded-circle img-fluid"#}
{#                 style="width: 150px;">#}
{#            <h5 class="my-3">{{ guild.guild_name }}</h5>#}
{#            <p class="text-muted mb-1">Faction: {{ guild.faction }}</p>#}
{#            <p class="text-muted mb-1">Highest#}
{#              Progress: {{ guild.highest_progress }}</p>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#      <div class="col-lg-8">#}
{#        <div class="card mb-4">#}
{#          <div class="card-body">#}
{#            <h5 class="card-title mb-4">Guild Details</h5>#}
{#            <p><strong>Recruiter:</strong> {{ guild.recruiter.username }}</p>#}
{#            <p><strong>Apply Link:</strong> <a#}
{#                href="{{ guild.apply_link }}">{{ guild.apply_link }}</a></p>#}
{#            <p><strong>WCL Link:</strong> <a#}
{#                href="{{ guild.wcl_link }}">{{ guild.wcl_link }}</a></p>#}
{#          </div>#}
{#        </div>#}
{#        {% if guild.guild_note %}#}
{#          <div class="card mb-4">#}
{#            <div class="card-body">#}
{#              <h5 class="card-title mb-4">Guild Note</h5>#}
{#              <p>{{ guild.guild_note }}</p>#}
{#            </div>#}
{#          </div>#}
{#        {% endif %}#}
{#      </div>#}
{#    </div>#}
{#    <div class="row">#}
{#      <div class="col">#}
{#        <div class="card">#}
{#          <div class="card-body">#}
{#            <p>BLOCK 3_</p>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#{% endblock %}#}
{% extends "base.html" %}
{% block content %}
  guild_name<br>
  faction<br>
  recruiter<br>
  highest_progress<br>
  discord_link<br>
  apply_link<br>
  wcl_link<br>
  guild_note<br>

  <div class="container py-5">


    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
                src="https://static.wikia.nocookie.net/villains/images/d/d3/Anyfin_Can_Happen.jpg/revision/latest/scale-to-width-down/1000?cb=20171225045710"
                alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{ guild.guild_name }}</h5>

            <div class="d-flex justify-content-center mb-2">
              <a href="{{ character.wcl }}" target=blank;>

                <a href="{{ guild.wcl_link }}" target=blank;>

                  <img src="{{ '/static/rookie/wcl_favicon.png' }}"
                       alt="wcl_favicon" style="width: 100%;height: auto;">
                </a>
                <a href="{{ guild.wcl_link }}" target=blank;>

                  <img src="{{ '/static/rookie/wcl_favicon.png' }}"
                       alt="wcl_favicon" style="width: 100%;height: auto;">
                </a>
                <a href="{{ guild.wcl_link }}" target=blank;>

                  <img src="{{ '/static/rookie/wcl_favicon.png' }}"
                       alt="wcl_favicon" style="width: 100%;height: auto;">
                </a>


            </div>
          </div>
        </div>
        {#        <div class="card mb-4 mb-lg-0">#}
        {#          <div class="card-body p-0">#}
        {#            <ul class="list-group list-group-flush rounded-3">#}
        {#              <li class="list-group-item d-flex justify-content-between align-items-center p-3">#}
        {#                <i class="fas fa-globe fa-lg text-warning"></i>#}
        {#                <p class="mb-0">https://mdbootstrap.com</p>#}
        {#              </li>#}
        {#              <li class="list-group-item d-flex justify-content-between align-items-center p-3">#}
        {#                <i class="fab fa-github fa-lg" style="color: #333333;"></i>#}
        {#                <p class="mb-0">mdbootstrap</p>#}
        {#              </li>#}
        {#              <li class="list-group-item d-flex justify-content-between align-items-center p-3">#}
        {#                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>#}
        {#                <p class="mb-0">@mdbootstrap</p>#}
        {#              </li>#}
        {#              <li class="list-group-item d-flex justify-content-between align-items-center p-3">#}
        {#                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>#}
        {#                <p class="mb-0">mdbootstrap</p>#}
        {#              </li>#}
        {#              <li class="list-group-item d-flex justify-content-between align-items-center p-3">#}
        {#                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>#}
        {#                <p class="mb-0">mdbootstrap</p>#}
        {#              </li>#}
        {#            </ul>#}
        {#          </div>#}
        {#        </div>#}
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Recruiter</p>
              </div>


              <div class="col-sm-9">
                <p>{{ guild.recruiter }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">faction</p>
              </div>
              <div class="col-sm-9">
                <p>{{ guild.faction }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Progress</p>
              </div>
              <div class="col-sm-9">
                <p>{{ guild.highest_progress }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p>(098) 765-4321</p>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span>
                  Project Status
                </p>
                <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar"
                       style="width: 80%" aria-valuenow="80"
                       aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Website
                  Markup</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar"
                       style="width: 72%" aria-valuenow="72"
                       aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar"
                       style="width: 89%" aria-valuenow="89"
                       aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile
                  Template</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar"
                       style="width: 55%" aria-valuenow="55"
                       aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                <div class="progress rounded mb-2" style="height: 5px;">
                  <div class="progress-bar" role="progressbar"
                       style="width: 66%" aria-valuenow="66"
                       aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span>
                  Project Status
                </p>
                <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar"
                       style="width: 80%" aria-valuenow="80"
                       aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Website
                  Markup</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar"
                       style="width: 72%" aria-valuenow="72"
                       aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar"
                       style="width: 89%" aria-valuenow="89"
                       aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile
                  Template</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar"
                       style="width: 55%" aria-valuenow="55"
                       aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                <div class="progress rounded mb-2" style="height: 5px;">
                  <div class="progress-bar" role="progressbar"
                       style="width: 66%" aria-valuenow="66"
                       aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}