{% extends "base.html" %}

{% block content %}
  <h1>
    Guilds
    <a href="{% url 'LFTplatform:guild-create' %}"
       class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% if guild_list %}
    {% include "includes/search_form.html" %}

    <table class="table">
      <thead>
      <tr>
        <th scope="col">Guild</th>
        <th scope="col">Faction</th>
        <th scope="col">Progress</th>
        <th scope="col">Looking for</th>
        <th scope="col">Teams</th>
      </tr>
      </thead>
      <tbody>
      {% for guild in guild_list %}
        <tr>
          <td>
            <a href="{% url "LFTplatform:guild-detail" pk=guild.id %}">{{ guild.guild_name }}</a>
          </td>
          <td>{{ guild.faction }}</td>
          <td>{{ guild.highest_progress }}</td>
          <td>
            {% for key, value in required_specs.items %}
              {% if key == guild.pk %}
                {% if value %}
                  <ul>
                    {% for class_name, spec_name in value %}
                      <li>{{ class_name }} - {{ spec_name }}</li>
                    {% endfor %}
                  </ul>
                {% else %}
                  <p>No specific classes/specs needed</p>
                {% endif %}
              {% endif %}
            {% empty %}
              <p>No specific classes/specs needed</p>
            {% endfor %}
          </td>
          <td>
            <ul>
              {% for team in guild.teams.all %}
                <li>
                  <a href="{% url "LFTplatform:team-detail" pk=team.id %}">
                    {{ team.team_name }}
                  </a>
                  [
                  {% for day in team.activity_days_team.all %}
                    {{ day.day_of_week }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                  ]
                </li>
                <ul></ul>
              {% empty %}
                No teams available
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No guilds found ;( </p>
  {% endif %}
{% endblock %}
