{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  <div style="text-align: center;">
    <h1>Sign In</h1>

    {% if next %}
      <p>Please sign in to continue.</p>
    {% endif %}
  </div>

  <form method="post" action="{% url 'login' %}"
        style="display: flex; flex-direction: column; max-width: 350px; margin: auto;">
    {% csrf_token %}
    {{ form|crispy }}

    <input type="submit" value="Login" class="btn btn-success" style="border-radius: 10px; margin-bottom: 10px;"/>

    <p style="text-align: center; margin-bottom: 10px;">or</p>

  <a href="{% url "LFTplatform:discord-oauth2-authentication" %}?button_type=Rookie"
   class="btn btn-primary" role="button" style="display: block; text-align: center; border-radius: 10px; margin-bottom: 10px;">
  <img src="{{ '/static/favicons/discord/discord-mark-white.svg' }}"
       alt="Discord Mark Blue" style="width: 10%; height: auto; float: left;">
  Sign In as Rookie via Discord
</a>

<a href="{% url "LFTplatform:discord-oauth2-authentication" %}?button_type=Recruiter"
   class="btn btn-primary" role="button" style="display: block; text-align: center; border-radius: 10px;">
  <img src="{{ '/static/favicons/discord/discord-mark-black.svg' }}"
       alt="Discord Mark Black" style="width: 10%; height: auto; float: left;">
  Sign In as Recruiter via Discord
</a>


    <input type="hidden" name="next" value="{{ next }}"/>
  </form>

{% endblock %}
