{% extends "base.html" %}
{% block content %}
  <li>char id: {{ character.id }}</li>
  <li>recruit id: {{ character.owner.id }}</li>

  <li>note: {{ character.owner.note }}</li>

  <li>activity days: {{ character.owner.activity_days_recruit.all }}</li>

  {% for activity_day  in character.owner.activity_days_recruit.all %}
    <ul>{{ activity_day.day_of_week }}</ul>
  {% endfor %}
  <li>rt_start: {{ character.owner.activity_time_start }}</li>
  <li>rt_end: {{ character.owner.activity_time_end }}</li>
  <div class="container py-5">
    <div class="row">
      <div class="col">

      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
                src="https://pics.craiyon.com/2023-10-26/f057d94ef5db4cdb9c46ab11a67be46e.webp"
                alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{ character.nickname }}</h5>
            <p class="text-muted mb-1">
              {{ character.item_lvl }}
            </p>

            <div class="d-flex justify-content-center mb-2">
              {#              <button type="button" class="btn btn-primary">b1</button>#}
              {#              <button type="button" class="btn btn-outline-primary ms-1">b2</button>#}
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-globe fa-lg text-warning"></i>
                <p class="mb-0">

                  <a href="{{ character.wcl }}" target=blank;>
                    <img src="{{ '/static/rookie/wcl_favicon.png' }}"
                         alt="wcl_favicon"
                         style="width: 50%;
                         height: auto;"
                    >
                  </a>
                </p>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Owner</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ character.owner }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Class</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ character.class_name }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Spec</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ character.spec_name }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Note</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ character.owner.note }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Contacts</p> #TODO: ONLY FOR RECRUITER
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  <li>{{ character.owner.discord }}</li>
                  <li>{{ character.owner.email }}</li>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">

          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span>
                  Project Status
                </p>
                <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar"
                       style="width: 80%" aria-valuenow="80"
                       aria-valuemin="0" aria-valuemax="100"></div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>




{% endblock %}
