{% extends "base.html" %}

{% block content %}
  <h1>LFT-recruit-finder beta</h1>
  <p>GitHub repository: <a href="https://github.com/sbilikepy/LFT-recruit-finder">https://github.com/sbilikepy/LFT-recruit-finder</a></p>

  <div>
    <h2>Welcome to the Pyrewood Village Community Server Website!</h2>
    <p>We're delighted to welcome you to our gaming community, where every player finds their place for enjoyable pastime and shared adventures.</p>
    <p>Our platform provides the opportunity to find guilds for cooperative play, as well as to present yourself as a recruit.</p>
    <p>Join us to meet like-minded individuals and enhance your gaming experience in the cozy atmosphere of Pyrewood Village!</p>
  </div>

  <div>
    <h2>Current State of the Database:</h2>
    <ul>
      <li><strong>Guilds:</strong> {{ guilds_count }}</li>
      <li><strong>Teams:</strong> {{ teams_count }}</li>
      <li><strong>Recruits:</strong> {{ recruits_count }}</li>
    </ul>
  </div>
{% endblock %}
