{% extends "base.html" %}

{% block content %}
  <h1>LFT-recruit-finder beta
  </h1>
  <p>https://github.com/sbilikepy/LFT-recruit-finder</p>
{#  <p>#}
{#    Lorem 100<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#    Consequuntur ex iure maxime, nemo quam tenetur? Aliquid assumenda#}
{#    blanditiis consectetur consequatur debitis deleniti illum iste, iure,#}
{#    obcaecati, odit placeat possimus quibusdam quidem recusandae repellendus#}
{#    soluta ullam. At cum dicta doloribus officiis quam recusandae, repudiandae#}
{#    sunt totam! Deleniti excepturi harum quia repudiandae. Ab accusamus#}
{#    adipisci amet commodi, cumque dolor doloribus eos et hic ipsam ipsum minima#}
{#    molestias mollitia nihil odit officiis omnis quia quis sequi, suscipit vel#}
{#    velit voluptatem voluptatibus? Accusantium ad architecto assumenda#}
{#    consequatur eligendi enim esse laborum magnam natus nesciunt, optio,#}
{#    praesentium provident quo recusandae reiciendis saepe sequi tenetur ut.#}
{##}
{#  </p>#}
  <h2>Some dynamic content:</h2>
  <p>Current state of DB:</p>
  <ul>
    <li><strong>Guilds: {{ guilds_count }}</strong></li>
    <li><strong>Teams: {{ teams_count }}</strong></li>
    <li><strong>Recruits: {{ recruits_count }}</strong></li>

  </ul>

{% endblock %}
