{% extends "base.html" %}

{% block content %}
  <h1>
    RECRUIT list
    <a href="{% url 'LFTplatform:recruit-create' %}"
       class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% if recruit_list %}
    {% include "includes/search_form.html" %}
    <ul>
      {% for recruit in recruit_list %}
        <li>
          <a href="{% url "LFTplatform:recruit-detail" pk=recruit.id %} ">{{ recruit.name }}</a>
          + other data
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No recruits found ;( </p>
  {% endif %}
{% endblock %}
