
body {
    margin-top: 20px;
    background-image: url("/static/background/best_backgroud_ever.bmp");

}

/*body {*/
/*    margin-top: 20px;*/
/*    background-image: url("/static/background/Tavern_art_by_Nina-Galinska-gnome3.jpg");*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}


select.form-control-sm {
    height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}


.form-control {
    display: block;
    width: 30%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}