
body {
    margin-top: 20px;
    background-image: url("/static/background/best_backgroud_ever.bmp");
}

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}

#profile-dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
  top: 100%;
  display: none;
}

#profile-dropdown:hover .dropdown-menu {
  display: block;
}