<form method="GET" id="filter-form">
  {% csrf_token %}
  
  
  <label
      class="filter-form-label"><strong>{{ filter_form.faction.label_tag }}</strong></label><br>
  <div class="inline-container">
    {% for faction in filter_form.faction %}
      <div class="form-element">
        {{ faction }}
      </div>
    {% endfor %}
  </div>
  
  
  <label class="filter-form-label"><strong>Raid times</strong></label>
  <div class="inline-container">
    I can raid between
    <div class="form-element-timer">
      
      {{ filter_form.activity_time_start_hour }}
    </div>
    
    
    and
    <div class="form-element-timer">
      {{ filter_form.activity_time_end_hour }}
    </div>
  </div>
  
  
  <label
      class="filter-form-label"><strong>{{ filter_form.selected_days.label_tag }}</strong></label>
  <div class="inline-container">
    {% for day in filter_form.selected_days %}
      <div class="form-element">
        {{ day }}
      </div>
    {% endfor %}
  </div>
  
  
  <label
      class="filter-form-label"><strong>{{ filter_form.raid_team_size.label_tag }}</strong></label>
  <div class="inline-container">
    {% for team_size in filter_form.raid_team_size %}
      <div class="form-element">
        {{ team_size }}
      </div>
    {% endfor %}
  </div>
  
  
  <label
      class="filter-form-label"><strong>{{ filter_form.loot_system.label_tag }}</strong></label>
  <div class="inline-container">
    {% for loot_system in filter_form.loot_system %}
      <div class="form-element">
        {{ loot_system }}
      </div>
    {% endfor %}
  </div>
  
  <label
      class="filter-form-label"><strong>  {{ filter_form.in_game_class.label }}</strong></label>
  {% for class in filter_form.in_game_class %}
    <div class="form-element">
      {{ class }}
    </div>
  {% endfor %}

  
  
  <div>
    <button class="btn btn-primary link-to-page" type="submit">Filter</button>
  </div>
  <br>


</form>
