<form method="GET" id="filter-form">
  {% csrf_token %}
  {% for field in filter_form %}
    <div>
      <label>{{ field.label_tag }}</label>
      {{ field }}

      <hr>
    </div>
  {% endfor %}

  <div>
    <button type="submit">Go</button>
  </div>
</form>


{#<form method="GET" id="filter-form" class="container">#}
{#  {% csrf_token %}#}
{##}
{##}
{# FACTION start #}
{##}
{#  <div class="form-group row">#}
{#    <label class="col-md-2 col-form-label"#}
{#           style="line-height: 34px;">Faction:</label>#}
{#    <div class="col-md-10">#}
{#      <div class="form-check form-check-inline">#}
{#        <input class="form-check-input" type="radio" id="faction_any"#}
{#               name="faction" value=""#}
{#               {% if not request.GET.faction %}checked{% endif %}>#}
{#        <label class="form-check-label" for="faction_any"#}
{#               style="line-height: 34px;">Any</label>#}
{#      </div>#}
{#      <div class="form-check form-check-inline">#}
{#        <input class="form-check-input" type="radio" id="faction_alliance"#}
{#               name="faction" value="Alliance"#}
{#               {% if request.GET.faction == 'Alliance' %}checked{% endif %}>#}
{#        <label class="form-check-label" for="faction_alliance"#}
{#               style="line-height: 34px;">Alliance</label>#}
{#      </div>#}
{#      <div class="form-check form-check-inline">#}
{#        <input class="form-check-input" type="radio" id="faction_horde"#}
{#               name="faction" value="Horde"#}
{#               {% if request.GET.faction == 'Horde' %}checked{% endif %}>#}
{#        <label class="form-check-label" for="faction_horde"#}
{#               style="line-height: 34px;">Horde</label>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{# FACTION end #}
{##}
{# TIMINGS start #}
{##}
{#  <div class="form-group row">#}
{#    <label class="col-md-2 col-form-label"#}
{#           style="line-height: 34px;">Timings:</label>#}
{#    <div class="col-md-10" style="display: flex; align-items: center;">#}
{#      <label for="activity_time_start" style="margin-right: 5px;">From:</label>#}
{#      {% if selected_time_start %}#}
{#        <select id="activity_time_start_hour" name="activity_time_start_hour"#}
{#                style="width: 20%;">#}
{#          {% for hour in hours %}#}
{#            {% for minute in minutes %}#}
{#              <option value="{{ hour }}:{{ minute }}"#}
{#                      {% if selected_time_start == hour and selected_time_start_minute == minute %}selected{% endif %}>#}
{#                {{ hour }}:{{ minute }}#}
{#              </option>#}
{#            {% endfor %}#}
{#          {% endfor %}#}
{#        </select>#}
{#      {% else %}#}
{#        <select id="activity_time_start_hour" name="activity_time_start_hour"#}
{#                style="width: 20%;">#}
{#          {% for hour in hours %}#}
{#            {% for minute in minutes %}#}
{#              {% if hour == 0 and minute == '00' %}#}
{#                <option value="{{ hour }}:{{ minute }}"#}
{#                        selected>{{ hour }}:{{ minute }}</option>#}
{#              {% else %}#}
{#                <option#}
{#                    value="{{ hour }}:{{ minute }}">{{ hour }}:{{ minute }}</option>#}
{#              {% endif %}#}
{#            {% endfor %}#}
{#          {% endfor %}#}
{#        </select>#}
{#      {% endif %}#}
{#      <label for="activity_time_end"#}
{#             style="margin-left: 10px; margin-right: 5px;">To:</label>#}
{#      {% if selected_time_end %}#}
{#        <select id="activity_time_end_hour" name="activity_time_end_hour"#}
{#                style="width: 20%;">#}
{#          {% for hour in hours %}#}
{#            {% for minute in minutes %}#}
{#              <option value="{{ hour }}:{{ minute }}"#}
{#                      {% if selected_time_end == hour and selected_time_end_minute == minute %}selected{% endif %}>#}
{#                {{ hour }}:{{ minute }}#}
{#              </option>#}
{#            {% endfor %}#}
{#          {% endfor %}#}
{#        </select>#}
{#      {% else %}#}
{#        <select id="activity_time_end_hour" name="activity_time_end_hour"#}
{#                style="width: 20%;">#}
{#          {% for hour in hours %}#}
{#            {% for minute in minutes %}#}
{#              {% if hour == 0 and minute == '00' %}#}
{#                <option value="{{ hour }}:{{ minute }}"#}
{#                        selected>{{ hour }}:{{ minute }}</option>#}
{#              {% else %}#}
{#                <option#}
{#                    value="{{ hour }}:{{ minute }}">{{ hour }}:{{ minute }}</option>#}
{#              {% endif %}#}
{#            {% endfor %}#}
{#          {% endfor %}#}
{#        </select>#}
{#      {% endif %}#}
{#    </div>#}
{#  </div>#}
{# TIMINGS end #}
{##}
{#DAYS OF WEEK start#}
{##}
{##}
{##}
{##}
{##}
{#<div class="form-group row">#}
{#  <label class="col-md-2 col-form-label" style="line-height: 34px;">Days of the week:</label>#}
{#  <div class="col-md-10">#}
{#    <div class="form-check form-check-inline">#}
{#      <input class="form-check-input" type="checkbox" id="monday" name="monday" value="Mon" checked>#}
{#      <label class="form-check-label" for="monday" style="line-height: 34px;">Mon</label>#}
{#    </div>#}
{#    <div class="form-check form-check-inline">#}
{#      <input class="form-check-input" type="checkbox" id="tuesday" name="tuesday" value="Tue" checked>#}
{#      <label class="form-check-label" for="tuesday" style="line-height: 34px;">Tue</label>#}
{#    </div>#}
{#    <div class="form-check form-check-inline">#}
{#      <input class="form-check-input" type="checkbox" id="wednesday" name="wednesday" value="Wed" checked>#}
{#      <label class="form-check-label" for="wednesday" style="line-height: 34px;">Wed</label>#}
{#    </div>#}
{#    <div class="form-check form-check-inline">#}
{#      <input class="form-check-input" type="checkbox" id="thursday" name="thursday" value="Thu" checked>#}
{#      <label class="form-check-label" for="thursday" style="line-height: 34px;">Thu</label>#}
{#    </div>#}
{#    <div class="form-check form-check-inline">#}
{#      <input class="form-check-input" type="checkbox" id="friday" name="friday" value="Fri" checked>#}
{#      <label class="form-check-label" for="friday" style="line-height: 34px;">Fri</label>#}
{#    </div>#}
{#    <div class="form-check form-check-inline">#}
{#      <input class="form-check-input" type="checkbox" id="saturday" name="saturday" value="Sat" checked>#}
{#      <label class="form-check-label" for="saturday" style="line-height: 34px;">Sat</label>#}
{#    </div>#}
{#    <div class="form-check form-check-inline">#}
{#      <input class="form-check-input" type="checkbox" id="sunday" name="sunday" value="Sun" checked>#}
{#      <label class="form-check-label" for="sunday" style="line-height: 34px;">Sun</label>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{#DAYS OF WEEK end#}
{##}
{##}
{##}
{#  <div class="form-group row">#}
{#    <div class="col-md-12">#}
{#      <button type="submit" class="btn btn-primary">Go</button>#}
{#    </div>#}
{#  </div>#}
{##}
{#</form>#}
{##}
{##}
{#<br><br><br><br><br>#}
{##}
{##}
{#<script>#}
{#    document.addEventListener("DOMContentLoaded", function () {#}
{#        var form = document.getElementById("filter-form");#}
{#        var radios = form.elements["faction"];#}
{#        var isChecked = false;#}
{##}
{#        for (var i = 0; i < radios.length; i++) {#}
{#            if (radios[i].checked) {#}
{#                isChecked = true;#}
{#                break;#}
{#            }#}
{#        }#}
{##}
{#        var selectedTimeStart = localStorage.getItem("selected_time_start");#}
{#        var selectedTimeEnd = localStorage.getItem("selected_time_end");#}
{#        if (selectedTimeStart) {#}
{#            document.getElementById("activity_time_start_hour").value = selectedTimeStart;#}
{#        }#}
{#        if (selectedTimeEnd) {#}
{#            document.getElementById("activity_time_end_hour").value = selectedTimeEnd;#}
{#        }#}
{##}
{#        form.addEventListener("change", function () {#}
{#            var selectedStart = document.getElementById("activity_time_start_hour").value;#}
{#            var selectedEnd = document.getElementById("activity_time_end_hour").value;#}
{#            localStorage.setItem("selected_time_start", selectedStart);#}
{#            localStorage.setItem("selected_time_end", selectedEnd);#}
{##}
{#            form.submit();#}
{#        });#}
{#    });#}
{#</script>#}
