{% load custom_filters %}
<form method="GET" id="filter-form">
  
  {% csrf_token %}
  <hr>
  <label
      class="filter-form-label"><strong>{{ filter_form.faction.label_tag }}</strong></label><br>
  <div class="inline-container">
    {% for faction in filter_form.faction %}
      <div class="form-element">
        {{ faction }}
      </div>
    {% endfor %}
  </div>
  <label class="filter-form-label">
    <strong>Raid times</strong>
  </label>
  <div class="inline-container">
    I can raid between
    <div class="form-element-timer">
      {{ filter_form.activity_time_start_hour }}
    </div>
    and
    <div class="form-element-timer">
      {{ filter_form.activity_time_end_hour }}
    </div>
  </div>
  <hr>
  <label
      class="filter-form-label"><strong>{{ filter_form.selected_days.label_tag }}</strong></label>
  <div class="inline-container">
    {% for day in filter_form.selected_days %}
      <div class="form-element">
        {{ day }}
      </div>
    {% endfor %}
  </div>
  <hr>
  <label
      class="filter-form-label"><strong>{{ filter_form.raid_team_size.label_tag }}</strong></label>
  <div class="inline-container">
    {% for team_size in filter_form.raid_team_size %}
      <div class="form-element">
        {{ team_size }}
      </div>
    {% endfor %}
  </div>
  <hr>
  <label
      class="filter-form-label"><strong>{{ filter_form.loot_system.label_tag }}</strong></label>
  <div class="inline-container">
    {% for loot_system in filter_form.loot_system %}
      <div class="form-element">
        {{ loot_system }}
      </div>
    {% endfor %}
  </div>
  <hr>
  <label
      class="filter-form-label"><strong>{{ filter_form.class_spec_combinations.label_tag }}</strong></label>
  <br>
  <div class="class-container-all">
    {% for ig_class in filter_form.class_spec_combinations %}
      <div class="class-container-single">
        <div class="ig-class-name">
          <div class="class-image">
            <img style="width: 30px; height: 30px"
                 src="/static/favicons/character_icons/spec_icons/{{ ig_class.data.value }}/{{ ig_class.data.value }}.jpg"
                 alt="{{ ig_class.data }} Class icon">
          </div>
          
          {{ ig_class }}
        </div>
        <div class="specs-container">
          {% for spec in filter_form.class_spec_valid_combinations|get_specs:ig_class %}
            <div class="spec-name">
              <img style="width: 30px; height: 30px"
                   src="/static/favicons/character_icons/spec_icons/{{ ig_class.data.value }}/{{ spec }}.jpg"
                   alt="{{ spec }} Spec icon">
              <label for="spec-{{ spec }}">
                <input type="checkbox"
                       class="spec-checkbox"
                       name="specific_specs"
                       value="{{ spec }} {{ ig_class.data.value }}"
                       id="spec-{{ ig_class.data.value }}-{{ spec }}"
                    {% if spec in selected_specs|striptags and ig_class.data.value in selected_specs|striptags %}
                       checked
                    {% endif %}
                >
                {{ spec }}
              </label>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
  
  
  <hr>
  <div>
    <button class="btn btn-primary link-to-page" type="submit">Filter
    </button>
  </div>
  <br>

</form>

<script>
    document.querySelectorAll('.ig-class-name input[type="checkbox"]').forEach(function (classCheckbox) {
        classCheckbox.addEventListener('change', function () {
            let specCheckboxes = this.closest('.class-container-single').querySelectorAll('.spec-checkbox');
            specCheckboxes.forEach(function (specCheckbox) {
                specCheckbox.checked = classCheckbox.checked;
            });
        });
    });

    document.querySelectorAll('.spec-checkbox').forEach(function (specCheckbox) {
        specCheckbox.addEventListener('change', function () {
            let classCheckbox = this.closest('.class-container-single').querySelector('.ig-class-name input[type="checkbox"]');
            if (this.checked) {
                classCheckbox.checked = true;
            } else {
                let otherSpecCheckboxes = this.closest('.specs-container').querySelectorAll('.spec-checkbox:checked');
                classCheckbox.checked = otherSpecCheckboxes.length > 0;
            }
        });
    });
</script>
