<ul class="nav nav-tabs justify-content-around">

  <li class="nav-item">
    <a class="nav-link" href="{% url 'LFTplatform:index' %}">Home</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'LFTplatform:guild-list' %}">Guilds</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'LFTplatform:index' %}">Teams</a>
  </li>

  <li class="nav-item">
    <a class="nav-link"
       href="{% url 'LFTplatform:character-list' %}">Rookies</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'LFTplatform:index' %}">Upcoming raids</a>
  </li>


  {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="#">My profile</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
    </li>

  {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Login</a>
    </li>
  {% endif %}
</ul>
