{% extends "base.html" %}

{% block content %}
  <h1>
    ROOKIES
    <a href="{% url 'LFTplatform:character-create' %}"
       class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% if character_list %}
    {% include "includes/search_form.html" %}
    <ul>
      {% for character in character_list %}
        <li>
          <a href="{% url "LFTplatform:character-detail" pk=character.id %} ">{{ character.nickname }}</a>
          + other data
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No recruits found ;( </p>
  {% endif %}
{% endblock %}
