{% extends "base.html" %}
{% block content %}
  {% load static %}
  <button type="button" class="btn btn-primary">Follow</button>
  <button type="button" class="btn btn-outline-primary ms-1">Message</button>
  <div class="container py-5">
    <div class="row">
      <div class="col">

      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
                src="https://render.worldofwarcraft.com/classic-eu/character/pyrewood-village/157/51027357-avatar.jpg?alt=/wow/static/images/2d/avatar/7-0.jpg"
                alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{ character.nickname }}</h5>
            <p class="text-muted mb-1">
              {{ character.item_lvl }}
            </p>
            <a href="{{ character.wcl }}" target=blank;>
              <img
                  src="{{ '/static/favicons/wcl/WCL_Black_Icon_01_4dbd945dee.png' }}"
                  alt="wcl_favicon" style="width: 20%;height: auto;">
            </a>

            <a href="{{ character.wcl }}" target=blank;>
              <img
                  src="{{ '/static/favicons/wcl/WCL_Icon_57fc009f4e.png' }}"
                  alt="wcl_favicon" style="width: 20%;height: auto;">
            </a>

            <a href="{{ character.wcl }}" target=blank;>
              <img
                  src="{{ '/static/favicons/wcl/WCL_White_Icon_01_9b25d38cba.png' }}"
                  alt="wcl_favicon" style="width: 20%;height: auto;">
            </a>

            {#            <div class="d-flex justify-content-center mb-2">#}

            {#              <button type="button" class="btn btn-primary">b1</button>#}
            {#              <button type="button" class="btn btn-outline-primary ms-1">b2</button>#}
            {#            </div>#}
          </div>

          <div class="card-body">
            
{#            <p class="mb-4"><span class="text-primary font-italic me-1">progress</span>#}
{#              <br>Highest Difficulty</p>#}


{#            <p class="mb-1" style="font-size: .77rem;">ICC</p>#}
{#            <div class="progress rounded" style="height: 5px;">#}
{#              <div class="progress-bar" role="progressbar"#}
{#                   style="width: 100%" aria-valuenow="100"#}
{#                   aria-valuemin="100" aria-valuemax="100">#}
{#              </div>#}
{#            </div>#}
{##}
{#            <p class="mb-1" style="font-size: .77rem;">Baradin Hold</p>#}
{#            <div class="progress rounded" style="height: 5px;">#}
{#              <div class="progress-bar" role="progressbar"#}
{#                   style="width: 100%" aria-valuenow="100"#}
{#                   aria-valuemin="100" aria-valuemax="100">#}
{#              </div>#}
{#            </div>#}
{##}
{#            <p class="mb-1" style="font-size: .77rem;">Throne of the Four#}
{#              Winds </p>#}
{#            <div class="progress rounded" style="height: 5px;">#}
{#              <div class="progress-bar" role="progressbar"#}
{#                   style="width: 76%" aria-valuenow="100"#}
{#                   aria-valuemin="100" aria-valuemax="100">#}
{#              </div>#}
{#            </div>#}
{##}
{#            <p class="mb-1" style="font-size: .77rem;">The Bastion of#}
{#              Twilight </p>#}
{#            <div class="progress rounded" style="height: 5px;">#}
{#              <div class="progress-bar" role="progressbar"#}
{#                   style="width: 64%" aria-valuenow="100"#}
{#                   aria-valuemin="100" aria-valuemax="100">#}
{#              </div>#}
{#            </div>#}
{##}
{#            <p class="mb-1" style="font-size: .77rem;">Blackwing Descent </p>#}
{#            <div class="progress rounded" style="height: 5px;">#}
{#              <div class="progress-bar" role="progressbar"#}
{#                   style="width: 32%" aria-valuenow="100"#}
{#                   aria-valuemin="100" aria-valuemax="100">#}
{#              </div>#}
{#            </div>#}
{##}
{#            <p class="mb-1" style="font-size: .77rem;">Firelands </p>#}
{#            <div class="progress rounded" style="height: 5px;">#}
{#              <div class="progress-bar" role="progressbar"#}
{#                   style="width: 11%" aria-valuenow="100"#}
{#                   aria-valuemin="100" aria-valuemax="100">#}
{#              </div>#}
{#            </div>#}
{##}
{#            <p class="mb-1" style="font-size: .77rem;">Dragon Soul </p>#}
{#            <div class="progress rounded" style="height: 5px;">#}
{#              <div class="progress-bar" role="progressbar"#}
{#                   style="width: 6%" aria-valuenow="100"#}
{#                   aria-valuemin="100" aria-valuemax="100">#}
{#              </div>#}
{#            </div>#}


          </div>
        </div>


      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Owner</p>
              </div>
              <div class="col-sm-9">
                {{ character.owner }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Class</p>
              </div>
              <div class="col-sm-9">
                {{ character.class_spec_combination.class_name }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Spec</p>
              </div>
              <div class="col-sm-9">
                {{ character.class_spec_combination.spec_name }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Note</p>
              </div>
              <div class="col-sm-9">
                {{ character.owner.note }} Lorem
                ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
                doloremque exercitationem illum inventore iure, magnam minima
                neque odit praesentium, quam saepe sint, soluta temporibus
                totam ullam velit voluptatibus. A asperiores aut blanditiis
                dicta ea eos facilis fugiat in ipsum nam natus numquam odio
                odit, quaerat repellat repellendus soluta voluptatem
                voluptatum
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Contacts</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                <p>{{ character.owner.discord }}</p>
                <p>{{ character.owner.email }}</p>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">

          </div>
        </div>
      </div>
    </div>
  </div>
  </section>

  {#  <li>char id: {{ character.id }}</li>#}
  {#  <li>recruit id: {{ character.owner.id }}</li>#}
  {##}
  {#  <li>note: {{ character.owner.note }}</li>#}
  {##}
  {#  <li>activity days: {{ character.owner.activity_days_recruit.all }}</li>#}
  {##}
  {#  {% for activity_day  in character.owner.activity_days_recruit.all %}#}
  {#    <ul>{{ activity_day.day_of_week }}</ul>#}
  {#  {% endfor %}#}
  {#  <li>rt_start: {{ character.owner.activity_time_start }}</li>#}
  {#  <li>rt_end: {{ character.owner.activity_time_end }}</li>#}


{% endblock %}
