{% extends "base.html" %}
{% block content %}
  {% load static %}
{#  <button type="button" class="btn btn-primary">Follow</button>#}
{#  <button type="button" class="btn btn-outline-primary ms-1">Message</button>#}
  <div class="container py-5">
    <div class="row">
      <div class="col">
      
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
                src="https://render.worldofwarcraft.com/classic-eu/character/pyrewood-village/157/51027357-avatar.jpg?alt=/wow/static/images/2d/avatar/7-0.jpg"
                alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{ character.nickname }}</h5>
            <p class="text-muted mb-1">
              {{ character.item_lvl }}
            </p>
            <a href="{{ character.wcl }}" target=blank;>
              <img
                  src="{{ '/static/favicons/wcl/WCL_Black_Icon_01_4dbd945dee.png' }}"
                  alt="wcl_favicon" style="width: 20%;height: auto;">
            </a>
            
            <a href="{{ character.wcl }}" target=blank;>
              <img
                  src="{{ '/static/favicons/wcl/WCL_Icon_57fc009f4e.png' }}"
                  alt="wcl_favicon" style="width: 20%;height: auto;">
            </a>
            
            <a href="{{ character.wcl }}" target=blank;>
              <img
                  src="{{ '/static/favicons/wcl/WCL_White_Icon_01_9b25d38cba.png' }}"
                  alt="wcl_favicon" style="width: 20%;height: auto;">
            </a>
          
          
          </div>
          
          <div class="card-body">
          
          
          </div>
        </div>
      
      
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Owner</p>
              </div>
              <div class="col-sm-9">
                {{ character.owner }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Class</p>
              </div>
              <div class="col-sm-9">
                {{ character.class_spec_combination.class_name }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Spec</p>
              </div>
              <div class="col-sm-9">
                {{ character.class_spec_combination.spec_name }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Note</p>
              </div>
              <div class="col-sm-9">
                {{ character.owner.note }} Lorem
                ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
                doloremque exercitationem illum inventore iure, magnam minima
                neque odit praesentium, quam saepe sint, soluta temporibus
                totam ullam velit voluptatibus. A asperiores aut blanditiis
                dicta ea eos facilis fugiat in ipsum nam natus numquam odio
                odit, quaerat repellat repellendus soluta voluptatem
                voluptatum
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Contacts</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                <p>{{ character.owner.discord }}</p>
                <p>{{ character.owner.email }}</p>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}
